<h2>It worked!</h2>

<%= params.inspect %>  <br/><br/>

<div style="font-size: 24px">Hello, <b><%= params[:name] %></b></div> <br/> <br/>

<img src="<%= params[:picture_url] %>" class="img-polaroid" />
